{{!-- {{#each this}}
<li class="event__item">
    <img class="event__image" src="{{}}" alt="{{}}"/>
    <div class="event__info">
        <h2 class="event__artist">{{}}</h2>                
        <p class="event__date">{{}}</p>
        <p class="event__place"> 
            <svg class="event__icon" aria-label="Navigation map point">
                <use class="icon-nav" href="./images/sprite.svg#icon-vector"></use>
            </svg>
            {{}}
        </p>
    </div>
</li>
{{/each}} --}}

{{#each this}}
<li class="event__item">
    <div class="event_img">
        <img src="{{imgUrl}}" alt="{{imgAlt}}" class="event__image">
    </div>
    <div class="event__info">
        <h2 class="event__artist">{{{event}}}</h2>
        <p class="event__date">{{date}}</p>
        <p class="event__place">
            <svg class="event__icon" aria-label="Navigation map point">
                <use class="icon-nav" href="./images/sprite.svg#icon-placemarker"></use>
            </svg>
            {{venue}}
        </p>
    </div>
</li>
{{/each}}