{{#each this}}
<li class="event__item" data-value="{{id}}" data-page="{{number}}" data-totalpages="{{totalPages}}">
    <div class="event_img">
        <img src="{{imgUrl}}" alt="{{imgAlt}}" class="event__image">
    </div>
    <div class="event__info">
        <h2 class="event__artist">{{{event}}}</h2>
        <p class="event__date">{{date}}</p>
		{{#if emb.0.name}}
			<a
				data-map='map'
                class='event__place'
				target='_blank'
				href='https://www.google.com/maps/search/?api=1&query={{emb.0.location.latitude}},{{emb.0.location.longitude}}&query_place_id={{emb.0.id}}'
			>
            <svg class="event__icon" aria-label="Navigation map point">
                <use class="icon-nav" href="./src/images/sprite.svg#icon-markerplace"></use>
            </svg>
            {{venue}}</a>
		{{/if}}
    </div>
</li>
{{/each}}

